__pycache__/
!data/cache/metadata/
!data/cache/metadata/.gitkeep
!data/cache/tracker_metadata/
!data/cache/tracker_metadata/.gitkeep
.DS_Store
.pyright
.stfolder
.stignore
.venv/*
.vscode/
.wdm/
*.lnk
*.mkv
/.vs
AGENTS.md
bin/7z/*
bin/bdinfo/*
bin/dovi_tool/*
bin/hdr10plus_tool/*
bin/MI/*
bin/mkbrr/*
bin/nyuu/*
bin/par2/*
bin/pesto/*
build/
dist/
*.egg-info/
.setuptools-build/
CLAUDE.md
custom_hooks
custom_hooks/
data/*.json
data/banned/*.*
data/cache/*
data/cache/metadata/*
data/cache/tracker_metadata/*
data/config.json
data/config.py
data/config*
data/cookies/
data/nfos/*
data/tags.json
data/tvdb/
data/web_ui/*.*
data/web_ui/*.py
data/web_ui/static/js/*.js
data/web_ui/templates/*.html
docker-compose.yml
Dockerfile
requirements.txt
tmp/*
user-args.json
venv/*
web_ui/static/js/node_modules/
