data/banned/*.*
data/config.json
data/config.py
data/config*
data/cookies/
data/tags.json
data/tvdb/
data/cache/*
!data/cache/metadata/
data/cache/metadata/*
!data/cache/metadata/.gitkeep
!data/cache/tracker_metadata/
data/cache/tracker_metadata/*
!data/cache/tracker_metadata/.gitkeep
data/web_ui/*.*
data/web_ui/templates/*.html
data/web_ui/static/js/*.js
data/web_ui/*.py
requirements.txt
docker-compose.yml
Dockerfile
bin/7z/*
bin/bdinfo/*
bin/mkbrr/*
bin/dovi_tool/*
bin/hdr10plus_tool/*
bin/nyuu/*
bin/par2/*
bin/pesto/*
build/
*.mkv
.vscode/
__pycache__/
tmp/*
.wdm/
.DS_Store
user-args.json
/.vs
data/nfos/*
data/*.json
.venv/*
venv/*
.pyright
web_ui/static/js/node_modules/
.stfolder
.stignore
AGENTS.md
CLAUDE.md
