data/config.json
data/config.py
data/config*
data/tags.json
data/cookies/*.txt
data/cookies/*.pkl
data/cookies/*.pickle
data/banned/*.*
data/web_ui/*.*
data/web_ui/templates/*.html
data/web_ui/static/js/*.js
data/web_ui/*.py
requirements.txt
docker-compose.yml
Dockerfile
bin/mkbrr/*
*.mkv
.vscode/
__pycache__/
tmp/*
.wdm/
.DS_Store
user-args.json
/.vs
data/nfos/*
data/*.json
.venv/*
venv/*
