torf
guessit
ffmpeg-python
pymediainfo; sys_platform == "win32"
pymediainfo==6.0.1; sys_platform == "linux"
pymediainfo==6.0.1; sys_platform == "darwin"
anitopy
cli-ui
qbittorrent-api
deluge-client
requests
pyimgbox
nest_asyncio
bencode.py
unidecode
beautifulsoup4
pyoxipng
rich
Jinja2
pyotp
click
aiohttp
Pillow
tqdm
urllib3
httpx
aiofiles
pyparsebluray
langcodes
transmission_rpc
psutil
packaging
tmdbsimple
discord
