aiofiles
aiohttp
anitopy
beautifulsoup4
bencode.py
click
cli-ui
deluge-client
discord
ffmpeg-python
guessit
httpx
Jinja2
langcodes
nest_asyncio
packaging
Pillow
psutil
pyimgbox
pymediainfo; sys_platform == "win32"
pymediainfo==6.0.1; sys_platform == "darwin"
pymediainfo==6.0.1; sys_platform == "linux"
pyotp
pyoxipng
pyparsebluray
qbittorrent-api
requests
rich
tmdbsimple
torf
tqdm
transmission_rpc
unidecode
urllib3
